*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#pipe{
    /* animation:pipe-animation 4s infinite linear; */
}
#nuvem{
    /* animation:nuvem-animation 8s infinite linear; */
}
#mario{
    animation:mario-animation 500ms infinite linear;
}
@keyframes pipe-animation{
    from{
        left: 100%;
    }
    to{
        left: -100%;
    }
}
@keyframes nuvem-animation{
    from{
        left: 100%;
    }
    to{
        left: -100%;
    }
}
@keyframes mario-animation{
    0%{
        bottom: 0;
    }
    25%{
        bottom: 8rem;
    }
    50%{
        bottom: 15rem;
    }
    50%{
        bottom: 15rem;
    }
    75%{
        bottom: 8rem; 
    }
    100%{
        bottom: 0;
    }
}